.button {
  font-family: inherit;
  font-size: 14px;
  text-decoration: none;
  padding: 7px 12px;
  background: none;
  border: 2px solid #ff0266;
  color: #ff0266;
  cursor: pointer;
}

.secondary {
  @extend .button;
  background-color: #ff0266;
  color: #fff;
}
