.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 20px 20px 0 0;
  font-weight: 700;

  @media only screen and (min-width: 45em) {
    margin: 20px 20px 15px 0;
  }

  input {
    opacity: 0;
    position: absolute;
  }

  &Button {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ff0266;
  }

  input:checked + &Button {
    background-color: #ff0266;
    box-shadow: inset 0 0 0 2px white;
  }
}
