.listItem__wrapper {
  list-style: none;
  margin: 0;
  padding: 40px 30px;
  display: flex;
  align-items: center;
}

.listItem__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 30px;
}

.listItem__name {
  margin: 0;
  color: #ff0266;
  font-weight: 700;
}

.listItem__description {
  margin: 10px 0 20px;
}

.listItem__button {
  font-size: 14px;
  text-decoration: none;
  padding: 7px 12px;
  background: none;
  border: 2px solid #ff0266;
  color: #ff0266;
  cursor: pointer;
}
