.wrapper {
  margin: 15px 40px;
  padding: 0;
}

.noItems {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(#818181, 0.6);
  display: block;
  width: 100%;
  margin: 100px auto;
  padding: 0 40px;
  text-align: center;
}
