.wrapper {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: fadeIn 0.5s ease;

  @media only screen and (min-width: 35em) {
    text-align: left;
    flex-direction: row;
  }
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 20px 0 30px 0;

  @media only screen and (min-width: 35em) {
    margin: 0 30px 0 0;
  }
}

.imageNone {
  @extend .image;
  background: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "?";
    font-size: 300%;
    opacity: 0.3;
  }
}

.description {
  margin: 10px 0 20px;
}

.button {
  font-size: 14px;
  text-decoration: none;
  padding: 7px 12px;
  background: none;
  border: 2px solid #ff0266;
  color: #ff0266;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
